In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from operator import itemgetter
import json 
import os
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
!pip install pickle5
import pickle5 as pickle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pickle5
  Downloading pickle5-0.0.11.tar.gz (132 kB)
     |████████████████████████████████| 132 kB 8.6 MB/s
Building wheels for collected packages: pickle5
  Building wheel for pickle5 (setup.py) ... done
  Created wheel for pickle5: filename=pickle5-0.0.11-cp38-cp38-linux_x86_64.whl size=236299 sha256=99bd8a90b12e731dff58cfc5946ff818a02857059bd08feafbaf8898f543b9d8
  Stored in directory: /root/.cache/pip/wheels/25/d4/61/dbd8edd1a0d656be7b4267c85db3b61951eb60016a0154a122
Successfully built pickle5
Installing collected packages: pickle5
Successfully installed pickle5-0.0.11

In [ ]:
with open('/content/sample_data/hr(tuples).pkl', "rb") as fh:
  data = pickle.load(fh)

In [ ]:
def getter(x):
    if isinstance(x,tuple):
        return itemgetter(0)(x)
    else:
        return x

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
data

,Participant,Stage,0:0.0,0:0.099791,0:0.199582,0:0.299373,0:0.399164,0:0.49895500000000004,0:0.598746,0:0.6985370000000001,...,SURPRISE,ANGER,ENTHUSIASM,LIKING,FEAR,AMUSEMENT,SADNESS,VALENCE,AROUSAL,MOTIVATION
0,22,STIMULUS,"(87, 602)","(87, 602)","(87, 602)","(87, 602)","(87, 602)","(87, 602)","(87, 602)","(87, 406)",...,1,1,2,1,1,2,1,5,2,4
1,22,QUESTIONNAIRES,"(85, 921)","(85, 921)","(85, 921)","(85, 921)","(85, 921)","(85, 921)","(85, 921)","(85, 921)",...,1,1,2,1,1,2,1,5,2,4
2,22,WASHOUT,"(80, 749)","(80, 792)","(80, 792)","(80, 792)","(80, 792)","(80, 792)","(79, 792)","(79, 792)",...,1,1,1,1,1,1,1,4,2,5
3,22,STIMULUS,"(81, 719)","(81, 719)","(81, 719)","(81, 719)","(81, 734)","(81, 734)","(81, 734)","(81, 734)",...,1,1,1,1,1,1,1,4,2,5
4,22,QUESTIONNAIRES,"(83, 702)","(82, 702)","(83, 702)","(83, 702)","(83, 702)","(82, 702)","(82, 702)","(82, 702)",...,1,1,1,1,1,1,1,4,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,64,STIMULUS,"(78, 516)","(78, 516)","(78, 516)","(78, 634)","(78, 634)","(78, 634)","(78, 634)","(78, 634)",...,1,1,3,1,1,1,1,5,2,6
1340,64,QUESTIONNAIRES,"(77, 799)","(77, 799)","(77, 816)","(77, 816)","(77, 816)","(77, 816)","(77, 816)","(77, 816)",...,1,1,3,1,1,1,1,5,2,6
1341,64,WASHOUT,"(0, 987)","(0, 987)","(0, 987)","(0, 987)","(-10, 987)","(-10, 987)","(-10, 987)","(-10, 987)",...,1,1,5,1,1,1,1,9,8,9
1342,64,STIMULUS,"(69, 829)","(68, 829)","(69, 829)","(69, 829)","(69, 829)","(69, 1248)","(68, 1248)","(68, 1248)",...,1,1,5,1,1,1,1,9,8,9
1343,64,QUESTIONNAIRES,"(66, 1245)","(65, 1245)","(65, 1245)","(65, 881)","(65, 881)","(65, 881)","(65, 881)","(65, 881)",...,1,1,5,1,1,1,1,9,8,9

In [ ]:
data.shape

(1344, 6305)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1344 entries, 0 to 1343
Columns: 6305 entries, Participant to MOTIVATION
dtypes: int64(13), object(6292)
memory usage: 64.7+ MB

In [ ]:
data.Stage.value_counts()

STIMULUS          462
QUESTIONNAIRES    462
WASHOUT           420
Name: Stage, dtype: int64

In [ ]:
data['Target'].value_counts()

NEUTRAL       126
AWE           126
DISGUST       126
SURPRISE      126
ANGER         126
ENTHUSIASM    126
LIKING        126
FEAR          126
AMUSEMENT     126
SADNESS       126
BASELINE       84
Name: Target, dtype: int64

In [ ]:
stim_data = data[(data['Stage'] == 'STIMULUS')]

In [ ]:
stim_data

In [ ]:
baseline_data = data[(data['Stage'] == 'STIMULUS') & (data['Target'] == 'BASELINE')]

In [ ]:
baseline_data

In [ ]:
pd.set_option('display.max_rows', None)
stim_data.isna().sum()

In [ ]:
time_stamps = list(stim_data.columns[2:-13])

In [ ]:
time_stamps = [i[:i.find('.')+3] for i in time_stamps]

In [ ]:
dic_rename = dict(zip(stim_data.columns[2:-13], time_stamps))

In [ ]:
stim_data.rename(columns = dic_rename, inplace = True)

In [ ]:
stim_data.columns

In [ ]:
stim_data_hr = stim_data.loc[: , :].applymap(lambda x:getter(x))

In [ ]:
stim_data_hr

In [ ]:
stim_data_hr.isnull().sum()

In [ ]:
stim_data_hr[(stim_data_hr['Participant'] == 44) & (stim_data_hr['Target'] == 'ENTHUSIASM')].index

In [ ]:
list(stim_data_hr.index).index(684)

In [ ]:
par = stim_data_hr.iloc[235, 2:-13]

In [ ]:
sns.lineplot(data = par.values)

In [ ]:
emo_df = {}
for emo in list(stim_data_hr['Target'].value_counts().keys()):
    emo_df[emo] = stim_data_hr[stim_data_hr['Target'] == f'{emo}']

In [ ]:
emo_values_count = {}
for emo in emo_df:
  emo_values_count[emo] = (6290 - emo_df[emo].iloc[:, 2:-13].T.isna().sum())

In [ ]:
target_map = {k: ind  for ind, k in enumerate(emo_df.keys())}

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(stim_data_hr['Target'])

In [ ]:
dataset = stim_data_hr.iloc[:, 2:-12]

In [ ]:
def split_dataset(df, target_map):
  df = df.copy()

  df['Target'].replace(target_map, inplace = True)
  y = df['Target'].copy()
  X = df.drop('Target', axis =1).copy()

  X_train,  X_test, y_train, y_test = train_test_split(X, y, train_size = 0.7, random_state = 123)

  return X_train,  X_test, y_train, y_test

In [ ]:
X_train,  X_test, y_train, y_test = split_dataset(dataset, target_map)

In [ ]:
X_train

In [ ]:
y_train

In [ ]:
X_train.fillna(0, inplace = True)

In [ ]:
X_test.fillna(0, inplace = True)

In [ ]:
inputs = tf.keras.Input(shape = X_train.shape[1])

h1 = tf.keras.layers.Dense(128, activation = 'relu')(inputs)
h2 = tf.keras.layers.Dense(64, activation = 'relu')(h1)

outputs = tf.keras.layers.Dense(11, activation = 'softmax')(h2)

model = tf.keras.Model(inputs = inputs, outputs = outputs)

print(model.summary())

Model: "model_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_9 (InputLayer)        [(None, 6290)]            0

 dense_19 (Dense)            (None, 128)               805248

 dense_20 (Dense)            (None, 64)                8256

 dense_21 (Dense)            (None, 11)                715

=================================================================
Total params: 814,219
Trainable params: 814,219
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
model.compile(
    optimizer = 'adam',
    loss = 'sparse_categorical_crossentropy',
    metrics = ['accuracy']
)

history = model.fit(
    X_train, 
    y_train,
    validation_split = 0.2,
    batch_size = 32,
    epochs = 50, 
    callbacks=[
        tf.keras.callbacks.EarlyStopping(
            monitor = 'val_loss',
            patience = 5,
            restore_best_weights = True
        )
    ]
)

Epoch 1/50
9/9 [==============================] - 1s 37ms/step - loss: 83.1520 - accuracy: 0.1783 - val_loss: 47.7467 - val_accuracy: 0.1385
Epoch 2/50
9/9 [==============================] - 0s 14ms/step - loss: 23.2087 - accuracy: 0.3411 - val_loss: 37.1672 - val_accuracy: 0.2923
Epoch 3/50
9/9 [==============================] - 0s 13ms/step - loss: 33.1150 - accuracy: 0.4031 - val_loss: 26.9322 - val_accuracy: 0.3231
Epoch 4/50
9/9 [==============================] - 0s 14ms/step - loss: 19.4661 - accuracy: 0.3915 - val_loss: 28.9774 - val_accuracy: 0.2923
Epoch 5/50
9/9 [==============================] - 0s 13ms/step - loss: 21.2984 - accuracy: 0.4186 - val_loss: 23.5298 - val_accuracy: 0.4154
Epoch 6/50
9/9 [==============================] - 0s 12ms/step - loss: 13.7913 - accuracy: 0.4031 - val_loss: 9.9867 - val_accuracy: 0.4923
Epoch 7/50
9/9 [==============================] - 0s 13ms/step - loss: 6.7845 - accuracy: 0.5698 - val_loss: 5.6398 - val_accuracy: 0.6615
Epoch 8/50
9/9 [==============================] - 0s 12ms/step - loss: 6.3815 - accuracy: 0.5659 - val_loss: 6.4526 - val_accuracy: 0.4615
Epoch 9/50
9/9 [==============================] - 0s 13ms/step - loss: 3.6850 - accuracy: 0.5426 - val_loss: 6.9322 - val_accuracy: 0.4462
Epoch 10/50
9/9 [==============================] - 0s 13ms/step - loss: 4.6520 - accuracy: 0.5736 - val_loss: 4.5573 - val_accuracy: 0.5846
Epoch 11/50
9/9 [==============================] - 0s 13ms/step - loss: 3.3646 - accuracy: 0.6047 - val_loss: 5.4604 - val_accuracy: 0.4923
Epoch 12/50
9/9 [==============================] - 0s 12ms/step - loss: 4.0667 - accuracy: 0.5465 - val_loss: 4.7161 - val_accuracy: 0.5692
Epoch 13/50
9/9 [==============================] - 0s 12ms/step - loss: 3.9634 - accuracy: 0.6357 - val_loss: 4.4541 - val_accuracy: 0.5385
Epoch 14/50
9/9 [==============================] - 0s 11ms/step - loss: 4.3836 - accuracy: 0.6202 - val_loss: 9.8636 - val_accuracy: 0.4462
Epoch 15/50
9/9 [==============================] - 0s 12ms/step - loss: 5.8542 - accuracy: 0.5581 - val_loss: 3.5263 - val_accuracy: 0.6769
Epoch 16/50
9/9 [==============================] - 0s 13ms/step - loss: 10.3438 - accuracy: 0.6240 - val_loss: 8.5779 - val_accuracy: 0.4308
Epoch 17/50
9/9 [==============================] - 0s 14ms/step - loss: 5.7051 - accuracy: 0.5814 - val_loss: 6.4569 - val_accuracy: 0.5231
Epoch 18/50
9/9 [==============================] - 0s 12ms/step - loss: 5.9733 - accuracy: 0.5698 - val_loss: 8.3566 - val_accuracy: 0.4308
Epoch 19/50
9/9 [==============================] - 0s 15ms/step - loss: 4.5716 - accuracy: 0.5814 - val_loss: 7.5942 - val_accuracy: 0.5692
Epoch 20/50
9/9 [==============================] - 0s 12ms/step - loss: 16.4797 - accuracy: 0.5078 - val_loss: 13.5887 - val_accuracy: 0.2462

In [ ]:
model_acc = model.evaluate(X_test, y_test, verbose=0)[1]
print(f"Test Accuracy : {round(model_acc, 3)*100} %")

Test Accuracy : 61.9 %